</br>
<h1 align="center">About me</h1>
<p align="center"><%= image_tag 'marvel2.jpg' %></p>
 <p align="center">
   I'm a new Rails developer just learning all these cool things.
 </p>
<p align="center"><%= image_tag 'another.jpg' %></p>
 <p align="center">
   What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.
   Here men from the planet Earth first set foot upon the Moon. July 1969 ActionDispatch. We came in peace for all mankind.
   Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.
 </p>
<p align="center"><%= image_tag 'third.jpg' %></p>
<p align="center">
   Marvel Worldwide Inc., commonly referred to as Marvel Comics and formerly Marvel Publishing, Inc. and Marvel Comics Group, is an American publisher of comic books and related media. In 2009, The Walt Disney Company acquired Marvel Entertainment, Marvel Worldwide's parent company.

Marvel started in 1939 as Timely Publications, and by the early 1950s had generally become known as Atlas Comics. Marvel's modern incarnation dates from 1961, the year that the company launched The Fantastic Four and other superhero titles created by Stan Lee, Jack Kirby, Steve Ditko, and many others.

Marvel counts among its characters such well-known properties as Spider-Man, the X-Men, Wolverine, the Fantastic Four, Iron Man, the Hulk, Thor, Captain America, the Silver Surfer, Daredevil, Doctor Strange, the Guardians of the Galaxy, and the Avengers and antagonists such as the Green Goblin, Doctor Octopus, Kingpin, Magneto, Doctor Doom, Loki, Galactus, Thanos, the Abomination, and the Red Skull. Most of Marvel's fictional characters operate in a single reality known as the Marvel Universe, with locations that mirror real-life cities. Characters such as Spider-Man, the Fantastic Four, the Avengers, Daredevil, and Dr. Strange are based in New York City, whereas the X-Men have historically been based in Salem Center, New York, and the Hulk's stories have usually been set in the American Southwest.

In 2013 Marvel held a 33.5% share of the comics market, compared to its competitor DC Comics' 30.33% share. By comparison, the companies held 40.81% and 29.94% shares in 2008.
 </p>
